@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* @layer components {
  .checkbox-label::before {
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 0.4em;
    margin-right: 0.5em;
    border: 0.05em solid black;
  }

  input[type="checkbox"]:checked + .checkbox-label::before {
    content: "";
    
    font-weight: 600;
  }
} */
